mongodb-contact-system-api/src/main/app/csv-to-mongodb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <mongo:config name="Mongo_DB" username="${database.user}" password="${database.password}" database="${database.name}" host="${database.host}:${database.port}" doc:name="Mongo DB"/>
    <flow name="csv-to-mongodbFlow1">
        <file:inbound-endpoint path="src/main/resources/input" responseTimeout="10000" doc:name="Poll files"/>
        <dw:transform-message doc:name="CSV to Canonical Format">
            <dw:input-payload doc:sample="list_csv.csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map
{
	firstName: $.firstname,
	lastName: $.surname,
	moblePhone: $.phone,
	primaryEmail: $.email	
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="saving objects: #[payload]" level="INFO" doc:name="Log objects to save"/>
        <enricher source="#[payload]" target="#[flowVars['existsCollection']]" doc:name="Message Enricher">
            <mongo:exists-collection config-ref="Mongo_DB" collection="customers" doc:name="Test if a collection exists"/>
        </enricher>
        <choice doc:name="Choice">
            <when expression="!flowVars['existsCollection']">
                <mongo:create-collection config-ref="Mongo_DB" collection="customers" doc:name="Create collection"/>
            </when>
            <otherwise>
                <logger message="Customer Collection already exists." level="INFO" doc:name="Log that a collection exists"/>
            </otherwise>
        </choice>
        <foreach doc:name="For Each">
            <mongo:insert-document config-ref="Mongo_DB" collection="customers" document-ref="#[new org.bson.Document(payload)]" doc:name="Save customers to Mongo"/>
            <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
</mule>
